.wrapper{
    width: 80%;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 65%;
    }
}
@media screen and (max-width: 576px) {
    .wrapper {
        width: 100%;
        padding: 0;
    }
}