.form {
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.form p{
    font-size: 16px;
}

.form label {
    margin-top: 5px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .form label {
        margin-top: 3px;
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .form{
        margin: 0;
    }
    .form p{
        margin: 0;
    }
    .form label {
        margin: 0;
        font-size: 12px;
    }
}