#root {
    margin: 0 auto;
    text-align: center;
}

.appWrapper {
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
    padding: 10px;
    border-right: 1px solid #c2c1c1;
    border-left: 1px solid #c2c1c1;
    display: flex;
    flex-direction: column;
}

.homePage{
    height: 200px;
    background-color: #cbcaca;
    padding: 90px;
    font-size: 20px;
}

@media screen and (max-width: 576px) {
    .appWrapper {
        padding: 3px;
    }
}



